<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Página dos monitores</title>
    <link rel="stylesheet" href="/static/css/monitores.css">
</head>
<body>
    <div class="container">
        <h1>Escala de Monitores</h1>
        <div id="monitores">
          <button class="monitores" id="segunda" data-horarios="10:00 - 10:20, 12:00 - 13:00, 14:40 - 15:00">Yasmim e Jady</button>
          <button class="monitores" id="terça" data-horarios="10:00 - 10:20, 12:00 - 13:00, 14:40 - 15:00">Cecília e Adrielly</button>
          <button class="monitores" id="quarta" data-horarios="10:00 - 10:20, 12:00 - 13:00, 14:40 - 15:00">Elizabeth e Maria Alice</button>
          <button class="monitores" id="quinta" data-horarios="10:00 - 10:20, 12:00 - 13:00, 14:40 - 15:00">Geovana e Hadassa</button>
          <button class="monitores" id="sexta" data-horarios="10:00 - 10:20, 12:00 - 13:00, 14:40 - 15:00">Natalia e Anna Julia</button>
        </div>
    </div>

    <script src="/static/js/monitores.js"></script>
</body>
</html>
